In [2]:
import numpy as np
import pandas as pd


def part1(fileData):  # print First 5 Set
    print("************************\nPart1 :")
    print(fileData.head(6))


def part2(fileData):  # print Last 5 Set
    print("************************\nPart2 :")
    print(fileData.tail(5))


def part3(fileData):  # print Columns Label
    print("************************\nPart3 :")
    print(fileData.columns)


def part4(fileData):  # print Unique Value for each columns
    print("************************\nPart4 :")
    column_name = ["index", "company", "body-style", "wheel-base", "length", "engine-type",
                   "num-of-cylinders", "horsepower", "average-mileage", "price"]

    for data in fileData:
        print("------------------")
        print(data)
        print(fileData[data].nunique())


def part5(fileData):  # print Count Of Null for each columns
    print("************************\nPart5 :")
    column_name = ["index", "company", "body-style", "wheel-base", "length", "engine-type",
                   "num-of-cylinders", "horsepower", "average-mileage", "price"]

    for data in fileData:
        print("------------------")
        print(data)
        print(fileData[data].isnull().sum())


def part6(fileData):  # remove Unnecessary Col
    print("************************\nPart 6:")
    new_data = fileData.drop(['company'], axis=1)
    print(new_data)


def part7(fileData):  # Drop Null Value
    print("************************\nPart 7 : ")
    fileData.dropna(subset=fileData.columns, inplace=True)
    print(fileData)


fileData = pd.read_excel("automobile_data.xlsx")
part1(fileData)
part2(fileData)
part3(fileData)
part4(fileData)
part5(fileData)
part6(fileData)
part7(fileData)

************************
Part1 :
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
************************
Part2 :
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0
************************
Part3 :
Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')
************************
Part4 :
------------------
index
61
------------------
company
16
------------------
body-style
5
------------------
wheel-base
27
------------------
length
36
------------------
engine-type
7
------------------
num-of-cylinders
7
------------------
horsepower
30
------------------
average-mileage
21
------------------
price
57
************************
Part5 :
------------------
index
0
------------------
company
0
------------------
body-style
0
------------------
wheel-base
0
------------------
length
0
------------------
engine-type
0
------------------
num-of-cylinders
0
------------------
horsepower
0
------------------
average-mileage
0
------------------
price
3
************************
Part 6:
    index   body-style  wheel-base  length engine-type num-of-cylinders  \
0       0  convertible        88.6   168.8        dohc             four
1       1  convertible        88.6   168.8        dohc             four
2       2    hatchback        94.5   171.2        ohcv              six
3       3        sedan        99.8   176.6         ohc             four
4       4        sedan        99.4   176.6         ohc             five
..    ...          ...         ...     ...         ...              ...
56     81        sedan        97.3   171.7         ohc             four
57     82        sedan        97.3   171.7         ohc             four
58     86        sedan        97.3   171.7         ohc             four
59     87        sedan       104.3   188.8         ohc             four
60     88        wagon       104.3   188.8         ohc             four

    horsepower  average-mileage    price
0          111               21  13495.0
1          111               21  16500.0
2          154               19  16500.0
3          102               24  13950.0
4          115               18  17450.0
..         ...              ...      ...
56          85               27   7975.0
57          52               37   7995.0
58         100               26   9995.0
59         114               23  12940.0
60         114               23  13415.0

[61 rows x 9 columns]
************************
Part 7 :
    index        company   body-style  wheel-base  length engine-type  \
0       0    alfa-romero  convertible        88.6   168.8        dohc
1       1    alfa-romero  convertible        88.6   168.8        dohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
3       3           audi        sedan        99.8   176.6         ohc
4       4           audi        sedan        99.4   176.6         ohc
5       5           audi        sedan        99.8   177.3         ohc
6       6           audi        wagon       105.8   192.7         ohc
7       9            bmw        sedan       101.2   176.8         ohc
8      10            bmw        sedan       101.2   176.8         ohc
9      11            bmw        sedan       101.2   176.8         ohc
10     13            bmw        sedan       103.5   189.0         ohc
11     14            bmw        sedan       103.5   193.8         ohc
12     15            bmw        sedan       110.0   197.0         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
14     17      chevrolet    hatchback        94.5   155.9         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
18     27          honda        wagon        96.5   157.1         ohc
19     28          honda        sedan        96.5   175.4         ohc
20     29          honda        sedan        96.5   169.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
24     33         jaguar        sedan       113.0   199.6        dohc
25     34         jaguar        sedan       113.0   199.6        dohc
26     35         jaguar        sedan       102.0   191.7        ohcv
27     36          mazda    hatchback        93.1   159.1         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
31     43          mazda        sedan       104.9   175.0         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
36     49     mitsubishi    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
40     53         nissan        sedan        94.5   165.3         ohc
41     54         nissan        sedan        94.5   165.3         ohc
42     55         nissan        sedan        94.5   165.3         ohc
43     56         nissan        wagon        94.5   170.2         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
45     61        porsche      hardtop        89.5   168.9        ohcf
46     62        porsche  convertible        89.5   168.9        ohcf
48     66         toyota    hatchback        95.7   158.7         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
51     69         toyota        wagon        95.7   169.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
54     79         toyota        wagon       104.5   187.8        dohc
55     80     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
59     87          volvo        sedan       104.3   188.8         ohc
60     88          volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
13            three          48               47   5151.0
14             four          70               38   6295.0
15             four          70               38   6575.0
16             four          68               31   6377.0
17             four          68               31   6229.0
18             four          76               30   7295.0
19             four         101               24  12945.0
20             four         100               25  10345.0
21             four          78               24   6785.0
24              six         176               15  32250.0
25              six         176               15  35550.0
26           twelve         262               13  36000.0
27             four          68               30   5195.0
28             four          68               31   6095.0
29             four          68               31   6795.0
30              two         101               17  11845.0
31             four          72               31  18344.0
32             five         123               22  25552.0
33             five         123               22  28248.0
34            eight         184               14  40960.0
35            eight         184               14  45400.0
36             four          68               37   5389.0
37             four          68               31   6189.0
38             four          88               25   6989.0
39             four          88               25   8189.0
40             four          55               45   7099.0
41             four          69               31   6649.0
42             four          69               31   6849.0
43             four          69               31   7349.0
44              six         152               19  13499.0
45              six         207               17  34028.0
46              six         207               17  37028.0
48             four          62               35   5348.0
49             four          62               31   6338.0
50             four          62               31   6488.0
51             four          62               31   6918.0
52             four          62               27   7898.0
53             four          62               27   8778.0
54              six         156               19  15750.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0